@tailwind base;
@tailwind components;
@tailwind utilities;


.buttonWrap svg.dark-icon * {
    stroke: #242424;
    transition: all 50ms linear;
}

.buttonWrap:hover svg.dark-icon * {
    stroke: #ffffff;
}

.buttonWrap svg.light-icon * {
    stroke: #242424;
    transition: all 50ms linear;
}

.buttonWrap:hover svg.light-icon * {
    stroke: #ffffff;
}